.container {
  padding: 32px;
}

.input-row {
  display: flex;
  align-items: center;
}

.margin-top {
  margin-top: 24px;
}

.add-remove-btn {
  margin: -20px 0 0 5px;
}

.add-remove-btn .mat-icon {
  font-size: 30px;
}
