<section class="main-navbar">
  <ul class="dynamic-nav">
    <li><a routerLink="infinite-scroll" routerLinkActive="active">Infinite-scroll</a></li>
    <li><a routerLink="dynamic-control" routerLinkActive="active">Dynamic-Form-Control</a></li>
    <li><a routerLink="reusable-dialog" routerLinkActive="active">ReUsable-Dialog</a></li>
    <li><a routerLink="lazy-load-dialog" routerLinkActive="active">Lazy-Loading-Dialog</a></li>
  </ul>
</section>

<div class="outlet-container">
  <router-outlet></router-outlet>
</div>


<!--============= Content in this Project ============-->
<!-- <ul>
  <li>Dynamic-Input(FormControl & FormArray)</li>
  <li>Infinite-Scrolling(CDK-Virtual-Scrolling)</li>
  <li>Re-Usable Dialog</li>
  <li>Lazy-Load Dialog</li>
</ul> -->


<!--============= Installed Dependencies ============-->
<!-- <ul>
  <li>ng add @angular/material</li>
  <li>npm install @angular/youtube-player</li>
</ul> -->
