/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*--------- inner header styles ---------*/
.mat-toolbar {
  background: #b2d48f;
  color: #335e2d;
  height: 50px;
  border-radius: 5px;
}
